/* Styles for HTML-Tags and Layout --------------------------------------------*/
html, body {
    height: 100%;
    min-width: 992px;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-justify: inter-word;
    padding: 0;
    margin: 0;
    color:  #1a1a1a;
    font-size: 11pt;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    color: #1a1a1a;
}

.factbook-list {
    list-style: none;
    padding: 0;
}

.container-fluid {
    padding-bottom: 5rem;
}

/* Header styles ----------------------------------------------------------*/
.header {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .5rem;
    height: 3rem;
    background-color: brown;
    border-radius: 2px;
}

#mainpage-link {
    text-decoration: none;
    font-size: 16pt;
    color: white;
}

#mainpage-link i{
    color: white;
}

.flag-container {
    margin-top: .2rem;
    padding: 0 .3rem .3rem 0rem;    
    background-color: white;
    border-radius: 5px;
    float: right;
}

.flag {
    height: 20px;
    padding-left: .3rem;
}

.flag:hover {
    transform: scale(1.25);
}
/*---------------------------------------------------------------------------*/
.footer .row, .header .row{
    padding-right: 0;
}

/* Footer styles -----------------------------------------------------------*/
.footer {
    border-radius: 2px;
    margin-right: .5rem;
    margin-left: .5rem;
}

a .bi {
    color: brown;
    font-size: 14pt;
}

.footer-right {
    float: right;
    text-decoration: none;
    padding-left: .6rem;
}

.footer-right:hover {
    transform: scale(1.25);
}

.container-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
/*---------------------------------------------------------------------------*/

/* Content styles -----------------------------------------------------------*/
.unit-links a{
    color: white;
}
.unit-links .btn {
   margin-left: 1rem;
   margin-top: .5rem;
}

.factbook-jumper {
    color: #1a1a1a;
}

.factbook-jumper a{
    color: #1a1a1a;
}

.col-2 {
    padding-left: 0;
    padding-right: .5rem;
    font-size: 11pt;
}

.col-2-left {
    background-color: #D29494;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding: 1.5rem .5rem 0 .5rem;
    margin: .5rem 0 0 .5rem; /*top right bottom left */
}

.col-2-right {
    background-color: #D29494;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding: 1.5rem .5rem 0 .5rem;
    margin: .5rem .5rem 0 0;
}

.col-8-middle {
    width: 100%;
    height: 100%;
    margin: .5rem 0 0 0;
}
.show {
    display: flex;
}

.hide {
    display: none;
}

.left-col{
    padding-top: 3.2rem;
    padding-left: .8rem;
}

.title {
    text-align: center;
}
.text-left {
    padding-left: .6rem
}

.selected{
    stroke: white;
    fill: lightcoral;
}

.unit-check {
    padding-top: .8rem;
}

.subunit-label{
    font-size:12px
}

.data-links {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    margin-top: 1rem
}

.data-links li {
    padding-top: .3rem;
}

.data-links a{
    padding: 1rem;
    color: #676767;
    font-size: 12pt;
}
.data-links p {
    color: #1a1a1a;
    font-size: 11pt;
    padding-left: 1rem;
    padding-top: .1rem;
}
.data-links a:hover{
    text-decoration: underline;
}
.data-links .bi {
    font-size: 12pt;
    color: #676767;
    padding-left: .5rem;
}


/* Buttons  -------------------------------------------------------------------*/   
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    /* fix for FF unable to apply focus style bug  */
    background: darkslategrey;
}

.form-label {
    margin-top: .3rem;
    margin-bottom: 0;
}

#next {
    visibility: visible;
    float: right;
}

#previous {
    visibility: hidden;
}

.control-container{
    margin-top: 1rem;
}

.control {
    width: 7rem;
}
/*-----------------------------------------------------------------------------*/

/* Styles for Map e.g. Boundaries ---------------------------------------------*/   
.maptitle {
    margin-bottom: .6rem;
    text-align: center;
}

#worldmapall, #germany-overview, #zaf-overview, #kenya-overview, #continentmap {
    border: 2px solid grey;
    border-radius: 5px;
    overflow:hidden;
    background: lightblue;
    padding: 0;
}

#germany-overview, #zaf-overview, #kenya-overview {
    margin-top: 1.5rem;
}
/* world map first unit*/
#worldmapu2{
    border: 1px solid grey;
    background: lightblue;
}
#worldmap{
    border: 1px solid grey;
}
.subcounty, .district{
    fill:white;
    fill-opacity: 0.01;
}

.stroke {
    fill: none;
    stroke: grey;
    stroke-width: 3px;
  }

.fill {
    fill: lightblue;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}
/*------*/
/* adm map first unit page4*/
#adm-map {
    opacity: .9;
}
#adm-germany, #adm-kenya, #adm-zaf {
    margin-top: 1.5rem;
    border-left: 1px solid lightgrey;
    text-align: center;
}

.mapboxGER, .mapboxKEN{
    display: none;
}

/*------*/
.continent {
    stroke: white;
    stroke-width: .5px;
}
.continent:hover{
    stroke:white;
    stroke-width: 2px;
}
#zaf-popdense .country {
    stroke: white;
    stroke-width: 2px;
}

#zaf-popdense .country:hover {
    stroke: white;
    stroke-width: 4px;
}

.country, .countryU3, .adminarea, .adminarea3a {
    stroke: grey;
    stroke-width: 1.5px;
}
.country:hover, .adminarea:hover, .adminarea3a:hover {
    stroke:grey;
    stroke-width: 2.5px;
    cursor: pointer;
}

/*-------------------------------------------------------------------------*/

/* Styles for Graticular --------------------------------------------------*/
.graticule {
    fill: none;
    stroke: black;
    stroke-width: .3px;
    stroke-opacity: .5;
} 

/*Styles for Legend */
.legend text, #legendu4 text {
    font-size: 18pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.entry text {
    font-size: 18pt;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

/*Styles for Scale */
.scalebartick text, .label, .legendtick text{ 
    font-size: 16pt;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
/*-------------------------------------------------------------------------*/

/*Styles for Tooltip*/
.tooltip {
    position: absolute;
    background: black;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    min-width: 80px;
}

.tooltip p {
    color: white;
    text-align: left;
}
/*-------------------------------------------------------------------------*/

/* Styles for Charts and Diagrams -----------------------------------------*/
.circles{
    opacity: 0.7;
}

.axis line, .axis path {
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}

.legendCircle text {
    font-size: 13pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.entry text {
    font-size: 18pt;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.bar.left {
  fill: steelblue;
}

.bar.right {
  fill: firebrick;
}

.tick{
    font-size: 6px;
}
#ylabel,#xlabel{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.card{
    border: 1px solid #dfdfdf;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 1rem;
    height: 95%;
}

.card-body {
    border-top: 1px solid #dfdfdf;
    padding: .5rem;
}

.card .card-highlight {
    border-radius: 5px;
    height: 24px;
}

.card-highlight.hint{
    border: 1px solid #ffc49a;
    background: #feffb4;
}

.card-highlight.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

.card img{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    padding: 0rem;
    border-radius: 5px;
    height: 80%;
}

.chart-text {
    margin: 0 0 .5rem 0;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background: #f5f5f5;
    text-align: center;
}

.chart-text:hover{
    cursor: grab;
}

#switch {
    border-radius: 5px;
    min-height: 40px;
}

#pyrstg0, #pyrstg1, #pyrstg2, #pyrstg3{
    width: 25%;
    margin: 5px;
    
}
#pyrstg0 {
    background-color: solid #bebada 3px;
}
#pyrstg1{
    border: solid #fb8072 3px;
}
#pyrstg2{
    border: solid #e78ac3 3px;
}
#pyrstg3{
    border: solid #fdb462 3px;
}

/*------------------------------------------------------------------------*/

/*Drag n Drop styles -----------------------------------------------------*/
/* (A) LIST STYLES */
#page1 .sortlist {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: lightgrey;
}

.sortlist p {
    padding-left: .8rem;
    padding-top: .5rem;
}

#page3 .sortlistcolor {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: lightgrey;
}
.slist:hover{
    cursor: grab;
}

.slist, .slist-assign {
    list-style: none;
    padding: 3px;
    margin: 0;
}
.slist li, .slist-assign li {
    margin: 10px;
    padding: 8px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background: #f5f5f5;
}

.slist li.hint, .slist-assign li.hint  {
    border: 1px solid #ffc49a;
    background: #feffb4;
  }
.slist li.active, .slist-assign li.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

.slist-wrong {
	color: #c00;
}

.slist-correct:before {
	content: '✓';
	color: darkgreen;
}

.slist-wrong:before {
	content: '✗';
	color: #f00;
}

.slist-correct:before,
.slist-wrong:before {
	font: 1em bold;
	padding: 0 0.2em;
}
/* Styles for Map-Quiz --------------------------------------------------*/
#map-quiz .map-question {
    padding-top: 1rem;
}
#map-quiz .form-check{
    padding-left: 3rem;
}

/*------------------------------------------------------------------------*/
/* Styles for tables --------------------------------------------------*/
.table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, th {
  border-bottom: 1px solid darkgrey;
  text-align: left;
  padding: .5rem;  
}
.table th:nth-child(even),
.table td:nth-child(2) {
  background-color: #dddddd;
}

.table td:nth-child(4){
    border-top: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table th:nth-child(2),
.table th:nth-child(3){
    font-weight: 300;
    font-size: 12pt;
    text-align: center;
}
/* MCT styles-------------------------------------------------------------*/
#quiz ul {
	list-style: none;
	margin: 5px;
	padding: 5px;
}

#intro1 {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 20px;
	padding: 3px;
}

#quiz li {
	margin: 5px;
	padding: 5px;
	width: 800px;
	font-family: sans-serif;
	font-size: 16px;
}

#quiz label {
	display: block;
	background-color: lightgray;
	border: 1px solid gray;
	border-radius: 0.2em;
	margin: 0.1em 0;
	padding: 1em 2em;
	text-align: start;
	max-width: 33em;
}

#quiz label:hover {
	background-color: darkgray;
}

#quiz input:checked ~ label,
#quiz input:focus ~ label {
    background-color: lightsteelblue;
}


#quiz input {
    display:none	
}

#quiz button {
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 30px;	
	margin-bottom: 100px;
}

#quiz button, #quiz label {
	cursor: pointer;
}

.question {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
}

.correct {
	color: darkgreen;
}

.wrong {
	color: #c00;
}

.correct:before {
	content: '✓';
	color: darkgreen;
}

.wrong:before {
	content: '✗';
	color: #f00;
}

.correct:before,
.wrong:before {
	font: 2em bold;
	padding: 0 0.2em;
}

