html, body {
    height: 100%;
}
p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
}

a:visited {
    color: rgb(206, 195, 195);
}

.main {
    background-color: brown;
    opacity: .5;
    height: 100%;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.col-2 {
    background-color: yellow;
}

.content {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: .5rem;
    height: 35px;
    background-color: brown;
}

.footer {
    height: 35px;
    background-color: brown;
    bottom: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.text-left {
    padding-left: 1rem;
}
.text-right {
    padding-right: 1rem;
}
